__pycache__/
*.pyc
.env
output/
*.db
instance/
.DS_Store
*.jpg
*.jpeg
*.mp4
# Allow extension icons and logo
!extension/*.png
!static/logo.png
haimnizri/
manuellenuphar/
mayanbarlia/
millanefernandez/
netadanino/
nizrivibes/
noamhendlerr/
onepromiseaday/
tobar/
tombar/
