__pycache__/
*.pyc
.env
output/
*.db
instance/
.DS_Store
*.jpg
*.jpeg
*.png
*.mp4
haimnizri/
manuellenuphar/
mayanbarlia/
millanefernandez/
netadanino/
nizrivibes/
noamhendlerr/
onepromiseaday/
tobar/
tombar/
